.place__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 76px;
    margin: 0;
    align-self: end;

  }
  
  
  @media screen and (max-width: 768px) {
    .place__title {
    font-size: 2.625rem;
    line-height: 110%;

  
    }
  }
  
  @media screen and (max-width: 425px) {
    .place__title {
      font-size: 2rem;
      line-height: 35px;
      margin-bottom: 32px;
      margin-left: 16px;
    }
  }
