@import url(../header/__lang/header__lang.css);
@import url(../header/__langs/header__langs.css);
@import url(../header/__logo/header__logo.css);


.header {
    max-width: 1184px;
    margin: 28px auto 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
@media screen and (max-width: 425px) {
	.header {
    margin-top: 16px;
  }
}