.footer__list{
  list-style: none;
  margin-right: 18px;

}


.footer__list:last-of-type {
  margin-right: 0;
}

@media all and (max-width: 767px) {
	.footer__list {
    margin-bottom: 32px;
  }
  
  .footer__list:last-child {
  margin-bottom: 48px;
  }
}
